table.tableMain
{
    font-family: 'Gill Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    /*line-height: 1.4em;*/
    table-layout: fixed;
    /*border-collapse: collapse;*/
    /*border-collapse: separate;*/
}

.tableMain tbody td
{
    /*padding: 10px;*/

    /*text-align: center;
*/
 border: 1px solid #00BFFF;
/*    color: #666;
    border: 2px solid #00BFFF;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    background-color: #def3ca;
    text-shadow: 1px 1px 1px #fff;*/
}

.tableMain thead th
{
    /*padding: 10px;*/

    /*text-align: center;
*/
 border: 1px solid #00BFFF;
/*    color: #666;
    border: 2px solid #00BFFF;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    background-color: #def3ca;
    text-shadow: 1px 1px 1px #fff;*/
}

.tableMain tbody
{
    display: block;
    /*width: 100px;*/
    overflow: auto;
    overflow-y: auto;
    height: 400px;
}

.tableMain tr
{
    display: table;  
    /*width: 10px;*/
    /*table-layout: fixed;*/
}

.tableMain td
{
    word-wrap:break-word;
    padding: 5px;
}

.tableMain th
{
    padding: 5px;
}

.time 
{
    text-align: center;
    width: 45px;
}

.description 
{
    text-align: left;
    width: 300px;
}

.program
{
    text-align: left;
    width: 100px;
}

.programHead
{
    text-align: center;
    width: 93px;
}

.descriptionHead
{
    text-align: center;
    width:300px;
}