table.tableMain
{
    font-family: 'Gill Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    line-height: 1.4em;
    table-layout: fixed;
    width:100%
    border-collapse: separate;
}

.tableMain tbody td
{
    padding: 10px;

    /*text-align: center;
*/
    color: #666;
    border: 2px solid #e7efe0;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    background-color: #def3ca;
    text-shadow: 1px 1px 1px #fff;
}

.tableMain tbody
{
    display: block;
    /*width: 100px;*/
    overflow: hidden;
    overflow-y: auto;
    height: 350px;
}

.tableMain tr
{
    display: table;
    /*width: 10px;*/
    /*table-layout: fixed;*/
}

.tableMain td
{
    word-wrap:break-word;
}

.time 
{
    text-align: center;
    width: 40px;
}

.description 
{
    text-align: left;
    width: 300px;
}

.program
{
    text-align: left;
    width: 200px;
}